.nav {
	padding: 1rem 0.5rem;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	* {
		flex-shrink: 0;
	}
}

.logo {
	@include sm-and-up {
		width: 17rem;
	}
	width: 13rem;
}

.cart-icon {
	@include sm-and-up {
		width: 2.3rem;
	}
	width: 2rem;
	flex-shrink: 0;
}
