.hero-relative {
	position: relative;
	overflow: hidden;
}

.hero-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.hero-subtitle {
	margin-top: 4rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	width: 60%;
	text-align: center;
	z-index: 3;
	@include sm-and-up {
		width: auto;
	}
	@include md-and-up {
		margin-top: 7rem;
	}
}

.hero-title {
	margin-bottom: 0;
	font-size: 1.7rem;
	z-index: 3;
	@include sm-and-up {
		font-size: 2.3rem;
	}
}

.button.hero-get-started-button {
	display: flex;
	align-items: center;
	margin: 1rem 0 10rem;
	@include sm-and-up {
		margin: 1rem 0;
	}

	img {
		width: 1rem;
		margin-right: 0.5rem;
	}
}

@mixin hero-image {
	border-radius: 50%;
	border: 1px solid var(--color-blue);
	object-fit: cover;
	position: absolute;
	z-index: 0;
}

.hero-left-image {
	@include hero-image;
	width: 7rem;
	height: 7rem;
	object-position: 1rem;
	left: -2.5rem;
	bottom: 2rem;

	@include md-and-up {
		width: 18rem;
		height: 18rem;
		left: -7rem;
		bottom: 5rem;
		object-position: 3rem;
	}
}

.hero-right-image {
	@include hero-image;
	width: 11rem;
	height: 11rem;
	object-position: center;
	right: -1rem;
	bottom: 1.5rem;
	display: none;
	@include md-and-up {
		display: block;
	}
}

@mixin hero-circle {
	border-radius: 50%;
	border: 1px solid var(--color-blue);
	position: absolute;
	z-index: -1;
}

.hero-right-circle {
	@include hero-circle;
	width: 3rem;
	height: 3rem;
	right: -1rem;
	bottom: 0;

	@include sm-and-up {
		width: 14rem;
		height: 14rem;
		right: -6rem;
		top: 0;
	}
}

.hero-left-circle {
	@include hero-circle;
	width: 2.7rem;
	height: 2.7rem;
	left: -1.2rem;
	top: 0;

	@include md-and-up {
		left: 8rem;
		top: 4rem;
	}
}

.hero-arrow {
	display: none;
	@include sm-and-up {
		transform: translateX(-50%);
		width: 37%;
		display: block;
	}
}
