.specialization-select,
.button.specialization-select {
	height: auto;
	width: 100%;
	margin-bottom: 0.6rem;
}

.specialization-fieldset {
	border: none;
	// padding: 1rem 0;
	padding: 0;
}

.specialization-label {
	display: flex;
	display: block;
	margin-bottom: 0.3rem;
	font-size: 0.8rem;
	align-items: center;
	display: flex;
	cursor: pointer;
	input {
		margin-right: 0.5rem;
		width: 0.8rem;
		height: 0.8rem;
		flex-shrink: 0;
	}
	&:first-of-type {
		margin-top: 1rem;
	}
	&:last-of-type {
		margin-bottom: 1rem;
	}
}
