.specialization-form {
	max-width: 13rem;
}

.specialization-select,
.button.specialization-select {
	height: auto;
	width: 100%;
	margin-bottom: 0.6rem;
}

.specialization-select.course-buy-select {
	margin-bottom: 0.5rem;
	@include sm-and-up {
		margin-bottom: 0;
	}
}

.specialization-fieldset {
	border: none;
	position: relative;
	padding: 0;
	background: var(--color-blue);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 1rem 0;
	&:empty {
		display: none;
	}
}

.specialization-label {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
	align-items: flex-start;
	display: flex;
	cursor: pointer;
	input {
		margin-top: 0.25rem;
		flex-shrink: 0;
	}
	[disabled] + .title {
		opacity: 0.65;
	}
}
