.section-support {
	position: relative;
	overflow: hidden;
	position: relative;
	@include md-and-up {
		padding: 3rem 0 1rem;
	}
}

.support-left-circle {
	position: absolute;
	border: 1px solid var(--color-blue-lighter);
	width: 12rem;
	height: 12rem;
	top: 0;
	left: -5rem;
	border-radius: 50%;
	display: none;
	@include md-and-up {
		display: block;
	}
}

.support-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4rem;
}

.support-title {
	font-family: var(--font-serif);
	margin-bottom: 0.8rem;
}

.support-description {
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

.support-button {
	display: flex;
	align-items: center;
	img {
		margin-right: 0.3rem;
	}
}

.support-picture {
	position: absolute;
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	object-position: center;
	right: -2rem;
	top: 2rem;
	border: 1px solid var(--color-blue-lighter);
	display: none;
	@include md-and-up {
		display: block;
	}
}
