.section-why-icci {
	position: relative;
	margin-bottom: 8rem;
	position: relative;
}

.why-icci-circle {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	border: 1px solid var(--color-blue-light);
	position: absolute;
	right: 0rem;
	transform: translateX(50%);
	bottom: 0;
	display: none;
	z-index: 0;
	@include md-and-up {
		display: block;
	}
}

.arch {
	display: block;
	width: 100%;
	height: auto;
}

.arch-content {
	background: var(--color-blue-darker);
	margin-top: -0.5px;
	margin-bottom: -0.5px;
	color: #fff;
	padding: 3.5rem 0 2rem;
}

.arch-top,
.arch-bottom {
	fill: var(--color-blue-darker);
}

.icci-text-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.icci-description {
	font-size: 0.9rem;
	span {
		color: var(--color-amber);
	}
	@include sm-and-up {
		font-size: 0.8rem;
	}
}
