.section-why-icci {
	background: var(--color-blue-darker);
	padding: 3rem 0 1.5rem;
	position: relative;
	margin-bottom: 5rem;

	&::after {
		content: '';
		border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
		width: 100%;
		height: 5rem;
		background-color: var(--color-blue-darker);
		position: absolute;
		bottom: 0;
		transform: translate(-50%, 50%);
		left: 50%;
		z-index: -1;
	}
}

.icci-text-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.icci-description {
	font-size: 0.8rem;
	span {
		color: var(--color-amber);
	}
}
