.section-why-icci {
	position: relative;
	margin-bottom: 8rem;
	position: relative;
}

.why-icci-circle {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	border: 1px solid var(--color-blue-light);
	position: absolute;
	right: 0rem;
	transform: translateX(50%);
	bottom: 0;
	display: none;
	z-index: 0;
	@include md-and-up {
		display: block;
	}
}

.why-icci-picture {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 8rem;
  height: 8rem;
  right: 0;
  top: 0;
  transform: scaleX(-1) translate(-25%, -50%);
  @include sm-and-up {
    display: none;
  }
}

.arch {
	display: block;
	width: 100%;
	height: auto;
}

.arch-content {
	background: var(--color-blue-darker);
	margin-top: -0.5px;
	margin-bottom: -0.5px;
	color: #fff;
	padding: 3.5rem 0 2rem;
}

.arch-top,
.arch-bottom {
	fill: var(--color-blue-darker);
  display: none;
  @include sm-and-up {
    display: block;
  }
}

.icci-text-container {
	display: flex;
	flex-direction: column;
  align-items: flex-start;
	z-index: 1;
  @include sm-and-up {
    align-items: center;
  }
}

.icci-description {
	font-size: 0.9rem;
	span {
		color: var(--color-amber);
	}
	@include sm-and-up {
		font-size: 0.8rem;
	}
}
