@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/lato-v24-latin-italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
}

@font-face {
	font-display: auto;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/playfair-display-v37-latin-regular.woff2') format('woff2');
}
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: 400;
	line-height: 1.1;
	margin: 0 0 1rem 0;
}

h1 {
	font-family: var(--font-serif);
	font-size: 2.5rem;
	line-height: 1;
}
h2 {
	font-family: var(--font-serif);
	font-size: 1.7rem;
	position: relative;
}
h3 {
	font-family: var(--font-serif);
	font-size: 1.3rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.9rem;
}

p {
	overflow-wrap: break-word;
	margin: 0 0 0.75em 0;
	max-width: 80ch;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: var(--color-link-default);
}
a:where(:hover, :focus) {
	color: var(--color-link-hover);
}

:where(
		p,
		ul:not([class]),
		ol:not([class]),
		pre,
		code,
		blockquote,
		img,
		video,
		iframe
	)
	+ :is(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--space-md);
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul:not([class]) {
	list-style-type: disc;
	margin: 0 0 var(--space-sm) 1.125rem;
	margin-left: 1.125rem;
	line-height: 1.3;
}
ul:not([class]) > li > ul {
	list-style-type: circle;
}
ul:not([class]) > li > ul > li > ul {
	list-style-type: square;
}
ol:not([class]) {
	margin: 0 0 var(--space-sm) 1.75rem;
	padding-left: 0;
	list-style: decimal;
}
:where(ul:not([class]), ol:not([class])) > li {
	padding-left: 0rem;
	margin-bottom: 0.5rem;
}

ul:not([class]) ul,
ol:not([class]) ul {
	margin: 1rem 0 1rem 1rem;
}

ul:not([class]) ol,
ol:not([class]) ol {
	margin: 1rem 0 1rem 2rem;
}

.gradient-text {
	background-color: var(--color-amber);
	background-image: linear-gradient(
		to right,
		var(--color-amber),
		var(--color-amber-dark)
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
